@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto";
/* 
RGB 
$color1: rgba(23, 33, 33, 1);
$color2: rgba(68, 69, 84, 1);
$color3: rgba(127, 123, 130, 1);
$color4: rgba(191, 172, 181, 1);
$color5: rgba(229, 208, 204, 1);*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  position: relative;
  background: rgba(23, 33, 33, 1);
}

body {
  font-family: "Open Sans";
  margin: 0;
  font-size: 100%;
  background: rgba(127, 123, 130, .25);
}

footer {
  clear:both;
  overflow: hidden;
  *zoom: 1;
  color: #000;
  text-align: center;
  position: relative;
  background: rgba(191, 172, 181, 1) !important;
}

nav {
  z-index: 10;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(191, 172, 181, 1);
}

nav a, footer a {
  padding: 10px 20px;
  display: inline-block;
  color: #000;
  text-align: center;
  background: rgba(191, 172, 181, 1);
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Roboto";
  color: rgba(191, 172, 181, 1);
}

h1 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 0em;
}

h2 {
  text-align: center;
  font-size: .9em;
  margin-top: 0em;
}

h3 {
  margin: 0;
  padding-top: 3em;
  color: rgba(191, 172, 181, 1);
}

h4 {
  font-size: .99em;
  margin: 0;
  color: #000;
}

h5 {
  margin-bottom: 0em;
}

h6 {
  margin-top: 0em;
}

img {
  padding: 10px;
}

p {
  text-align: justify;
}

/*jquery carousel styles*/
/*#peoplebox {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: rgba(127, 123, 130, 1);
  padding: 1px 20px;
  border-radius: 10px;
  overflow: hidden;
}

#peoplebox img {
  border-radius: 15%;
  width: 30%;
  float: left;
}*/

#overview h3 {
  background: url(../images/section_heading_3.jpg) no-repeat fixed;
  background-size: cover;
}

#work h3 {
  background: url(../images/section_heading_2.jpg) no-repeat fixed;
  background-size: cover;
}

#edu h3 {
  background: url(../images/berkeley.jpg) no-repeat fixed;
  background-size: cover;
}

.details {
  list-style: none;
  margin-top: 0em;
}

#admin {
	float: right;
	margin-left: -90px;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 2em 1em 1em 1em;
}

.heading-img {
  width: 30%;
  height: auto;
  float: left;
  border-radius: 20%;
  padding-top: 1.05em;
  padding-bottom: 0em;
  }


/*images inside blocks of text*/
/*.flow-left {
  float: left;
  border-radius: 15%;
}

.flow-right {
  float: right;
  border-radius: 15%;
}*/

@media (min-width: 40.875em) {
    .col-narrow {
    width: 30%;
    height: auto;
    float: left;
  }

  .col-wide {
    width: 70%;
    height: auto;
    float: right;
  }
}
